.loginForm,
.registerForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
}

.loginForm input,
.registerForm input {
    width: 80%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid var(--text);
    border-radius: 10px;
    background: #f7f8f9;
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.loginForm button,
.registerForm button {
    width: 80%;
}

.loginForm p,
.registerForm p {
    font-family: var(--default-font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    text-align: center;
    padding: 0;
}

.loginForm a,
.registerForm a {
    font-family: var(--default-font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    text-align: center;
    padding: 0;
    color: var(--darkBlue);
    text-decoration: none;
    cursor: pointer;
}

.loginForm a:hover,
.registerForm a:hover {
    color: var(--electricBlue);
}

.forgot-password-link {
    margin-top: -12px;
    margin-left: 50%;
}

.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 10px;
}

.social-login p {
    width: 100%;
    height: auto;
    font-size: 16px;
    text-align: center;
    text-wrap: nowrap;
    padding: 0;
}

.social-login-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin: 0;
}

.social-login-btns button {
    width: 60px;
    height: 40px;
    background-color: transparent;
    border: 1px solid;
}