.topbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    box-shadow: #000000 0px -10px 20px 0px;
    background-color: var(--duskTheme);
}

.topbar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
}

.topbar-logo {
    width: 38px;
    height: 36px;
    background: url(../../assets/images/DuskPet-IconCircle.png) no-repeat center;
    background-size: cover;
    border-radius: 30px;
}

.topbar-petshop-name {
    height: 36px;
    color: var(--text);
    font-family: Urbanist, var(--default-font-family);
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
}